/*
 New Moon Theme by Tania Rascia
 https://taniarascia.github.io/new-moon
 Source: https://github.com/taniarascia/new-moon
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
  --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
  --code-font-color: #b3b9c5;
  --code-background-color: #353535;
  --string: #92d192;
  --variable: #f2777a;
  --property: #abb2bf;
  --number: #fca369;
  --operator: #ac8d58;
  --punctuation: #d5d8df;
  --comment: #848991;
  --function: #62cfcf;
  --keyword: #ffeead;
  --attribute: #ffd479;
  --class: #e1a6f2;
  --tag: #6ab0f3;
  --error: #f2777a;
  --light-background: #f1f3f5;
}

code[class*='language-'],
pre[class*='language-'] {
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--code-font-color);
  font-family: var(--code-font-family);
  font-size: 0.9rem;

  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-weight: 400;
  line-height: 1.7;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  overflow: auto;
}

@media screen and (min-width: 800px) {
  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 1rem;
  }
  pre[class*='language-'] {
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3rem;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--code-background-color);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}

pre.language-text,
code.language-text {
  background: var(--light-background) !important;
  color: #333 !important;
  box-shadow: none;
}

code.language-shell::before {
  content: '$ ';
  color: var(--comment);
}

pre.language-terminal {
  position: relative;
  background: white;
  color: #595c62;
  padding-top: 3rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  border: 1px solid #ced1d3;
}

code.language-terminal {
  color: #595c62;
}

pre.language-terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  background: #e0e3e7;
  color: var(--code-font-color);
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  line-height: 0;
  padding: 18px 0 16px;
  text-indent: 6px;
  letter-spacing: -18px;
}

pre.language-terminal::after {
  content: 'Output';
  font-size: .9rem;
  position: absolute;
  top: 4px;
  right: 8px;
}

.gatsby-highlight-code-line {
  background-color: #191919;
  display: block;
  margin-right: -1rem;
  margin-left: -1rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-left: 0.25rem solid #748ffc;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.important {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.property {
  color: var(--property);
}

.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--tag);
}

.token.number {
  color: var(--number);
}

.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--code-font-color);
}

.token.attr-name,
.token.selector {
  color: var(--attribute);
}

.token.attr-value,
.token.string {
  color: var(--string);
}

.token.operator {
  color: var(--operator);
}

.token.atrule,
.token.keyword {
  color: var(--keyword);
}

.token.function {
  color: var(--function);
}

.language-css,
.token.boolean,
.token.class-name {
  color: var(--class) !important;
}

.token.regex {
  color: var(--keyword);
}

.token.variable {
  color: var(--variable);
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.filename {
  font-size: 0.9rem;
  margin-bottom: -0.8rem;
  padding: 0.5rem 1.5rem 0.75rem;
  line-height: 1.8;

  background-color: #505050;
  color: white;
  z-index: 1;

  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@media screen and (min-width: 800px) {
  .filename {
    padding: 0.25rem 1rem 0.5rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    margin-left: auto;
    margin-right: auto;
  }
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}

pre[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  color: inherit;
  background: rgba(150, 150, 150, 0.3) !important;
}
